@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {    
    background: rgba(255, 233, 255);
    font-family: Merriweather, serif;
    color: #310151;
}

/* Headings */

h1 {
    font-family: 'Marcellus SC', serif;
}

h2 {
    font-family: Marcellus, serif;
}

/* Logo and navigation menu */

header {
    background-color: #eeeeee;
    height: 75px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: inherit;
}

 #logo {
    font-size: 150%;
    margin: 10px;
    flex-grow: 1;
 }

.menu > ul {
    font-family: Marcellus, serif;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style-type: none;
    margin: 30px 25px;
}

.menu a {
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    color: #FFE9FF;
    background-color: #310151;    
}

.active {
    border: 2px solid #310151;
}

/* Main section */

main {
    display: grid;
    grid-template-columns: 15% 85%;
}

/* Timeline */

#timeline {
    margin: 11px;
}

#timeline > div {
    padding: 4vh 1vw;
    border-left: 3px solid #310151;
}

#timeline > div::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #FFF;
    border: 3px solid #310151;
    left: 5px;
}

#timeline a {
    text-decoration: none;
    color: inherit;
}

/* Bios */

.bio {
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
    grid-auto-flow: dense;
    margin-right: 5vw;
}

.bio-text {
    grid-column: span 2;
    padding: 10% 5%;
}

.bio img {
    height: 35vh;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 3;
}